/* 

Olivier COSQUER - 2019 

Licence WTFPL - http://www.wtfpl.net

Pour me contacter : ocosquer@gmail.com

*/

.tirette {
    margin-right: 25px;
    z-index: 1;
}

[class*="tirette-handle-"] {
    position: absolute;
    box-sizing: border-box;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FscXVlXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDojNjY2NjY2O30NCjwvc3R5bGU+DQo8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTQsNC4zYy00LDAtNy4zLDMuMS03LjcsNy4xSDB2MS4zaDYuM2MwLjMsNCwzLjYsNy4xLDcuNyw3LjFjMS40LDAsMy43LTAuNCw0LjgtMWgwdjB2LTEuNFY2LjdWNS4zdjANCglDMTcuNiw0LjcsMTUuMyw0LjMsMTQsNC4zeiBNMTYuNSwxOGMtMC44LDAuMy0xLjYsMC41LTIuNSwwLjVjLTMuNiwwLTYuNS0yLjktNi41LTYuNWMwLTMuNiwyLjktNi41LDYuNS02LjVjMC45LDAsMS44LDAuMiwyLjUsMC41DQoJVjE4eiIvPg0KPC9zdmc+DQo=') no-repeat scroll 0 0;
    background-position: 0px 50%;
    cursor: move;
}

[class*="tirette-line-"] {
    position: absolute;
    background-color: #999999;
    width: 1px;
    height: 1px;
    opacity: 0;
}

[class*="tirette-label-"] {
    position: absolute;
    box-sizing: border-box;
    margin-top: -70px;
    background-color: #666666;
    color: white;
    min-width: 1.5em;
    max-width: 100vw;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    opacity: 0;
    z-index: 10;
}